    /* Global */

    :root {
        /* Color */
        --color-white: #ffffff;
        --color-light-white: #eeeeee;
        --color-dark-white: #bdbdbd;
        --color-pink: #fe918d;
        --color-dark-pink: #ff6863;
        --color-dark-grey: #4d4d4d;
        --color-grey: #616161;
        --color-light-grey: #7c7979;
        --color-blue: #73aace;
        --color-yellow: #fff7d1;
        --color-orange: #feb546;
        --color-black: #000000;
        --color-dark-blue: #87ceeb;

        /* Font size */
        --font-large: 48px;
        --font-medium: 28px;
        --font-regular: 18px;
        --font-small: 16px;
        --font-micro: 14px;
    
        /* Font weight */
        --weight-bold: 700;
        --weight-semi-bold: 600;
        --weight-regular: 400;

        /* Size */
        --size-border-radius : 4px;
    }
        
    

    body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        /* 마우스커서를 텍스트에 올려도 기본값 */
        cursor: default;
    }
    
    a {
        text-decoration: none;
        color: var(--color-white);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    button {
        /* transparent 배경색을 투명으로함 */
        background-color: transparent;
        cursor: pointer;
        border: none; 
        outline: none;
    }
    
    /* Typography */
    
    h1 {
        font-size: var(--font-large);
        font-weight: var(--weight-bold);
        color: var(--color-black);
        margin: 16px 0px;
    }
    
    h2 {
        font-size: var(--font-medium);
        font-weight: var(--weight-semi-bold);
        color: var(--color-black);
        margin: 8px 0;
    }
    
    h3 {
        font-size: var(--font-regular);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 8px 0;
    }
    
    p {
        font-size: var(--font-regular);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 4px 0;
    }
    /* Navbar */
    #navbar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        padding: 16px;
        color: var(--color-white);
        transition: all 300ms ease-in-out;
        /* navbar 제일위에 항상고정 */
        z-index: 1;
    }

    #navbar.navbar--dark {
        background-color: var(--color-blue);
        padding: 8px;
    }

    .navbar__menu {
        display: flex;
        
    }
    .navbar__logo {
        font-size: var(--font-medium);
        font-weight: var(--weight-semi-bold);
    }

    .navbar__menu__item {
        padding: 8px 12px;
        margin: 0 4px;
        /* 클릭이 가능한 cursor */
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: var(--size-border-radius);
    }
    .navbar__menu__item:hover {
        border-color: var(--color-white);
        background-color: var(--color-dark-blue);
        
    }
    

    .navbar__toggle-btn {
        position: absolute;
        right: 32px;
        top: 24px;
        font-size: 24px;
        color: var(--color-white); 
        display: none; 
    }

    /* Home */

    #home {
        /* no-repeat 이미지를 반복시키지않음 */
        background: url("imgs/헤드백그라운드.png") center/cover no-repeat;
        padding: 40px;
        padding-top: 120px;
        text-align: center;
    }

    .home__avatar {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid var(--color-light-white);
    }
    .home__title, .home__discription {
        color: var(--color-white);
    }
    .home__contact {
        font-size: var(--font-regular);
        font-weight: var(--weight-bold);
        margin: 24px;
        padding: 8px 12px;
        border: 2px solid var(--color-white);
        border-radius: 4px;
        color: var(--color-white);
    }

    /* Section */

    .section {
        padding: 50px;
        text-align: center;
        margin: auto;
    }
    .section__container {
        max-width: 1200px;
        margin: auto;
    }


    .about__majors {
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }

    .major__icon {
        width: 170px;
        height: 170px;
        line-height: 170px;
        font-size: 70px;
        margin: auto;
        border: 1px solid var(--color-blue);
        border-radius: 50%;
        margin-bottom: 16px;
        
    }
    #html:hover {
        color: orange;
        transform:  scale(1.2);
        
    }

    #html {
        color: orangered;
        transition: all 300ms ease;
    }
    #js {
        color: #f7e600;
        transition: all 300ms ease;
    }
    #js:hover {
        color: gold;
        transform:  scale(1.2);
    }

    #react {
        color: darkturquoise;
        transition: all 300ms ease;
    }
    #react:hover {
        color: darkcyan;
        transform:  scale(1.2);
    }

    .major__title, .major__description {
        color: var(--color-dark-grey);
    }

    .major__description {
        font-size: var(--font-small);
        
    }
    

    .job {
        display: flex;
        align-items: center;
    }
    .job__logo{
        height: 85px;
        width: 85px;
    }

    .job__description {
        margin: 0 16px;
        text-align: left;
    }

    .job__name, .job__period {
        color: var(--color-light-grey);
    }

    .job__name {
        font-size: var(--font-small);
    }

    .job__period {
        font-size: var(--font-micro);
    }

    #skills {
        background-color: var(--color-yellow);
    }
    .skillset {
        display: flex;
        background-color: var(--color-light-grey);
        color: var(--color-light-white);
        margin: 20px 0;
    }
    .skillset__title {
        color: var(--color-white);
    }

    .skillset__left {
        /* basis 기본설정값(colume 일땐 height값 */
        flex-basis:  60%;
        background-color: var(--color-dark-grey);
        padding: 20px 40px;
    }
    .skill {
        margin-bottom: 32px;
    }

    .skill__description{
        display: flex;
        justify-content: space-between;
    }

    .skill__bar {
        width: 100%;
        height: 3px;
        background-color: var(--color-grey);
    }
    /* width값은 HTML에 적용 */
    .skill__value {
        width: 0;
        height: 3px;
        background-color: var(--color-orange);
    }

    .skillset__right{
        flex-basis: 40%;

    }

    .tools {
        background-color: var(--color-grey);
    }

    .tools, .etc {
        padding: 20px;
    }
    /* Work */ 

    .work__categories {
        margin: 40px;
    }

    .category__btn {
        border: 1px solid var(--color-light-white);
        border-radius: var(--size-border-radius);
        font-size: var(--font-regular);
        padding: 8px 48px;
    }

    .category__btn.selected,
    .category__btn:hover {
        background-color: var(--color-dark-blue);
        color: var(--color-white);
    }

    .category__count {
        background-color: var(--color-orange);
        border-radius: 50%;
        color: var(--color-white);
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        position: relative;
        top: -20px;
        left: 4px;
        opacity: 0;
        transition: all 300ms ease in;
    }

    .category__btn.selected .category__count,
    .category__btn:hover .category__count {
        opacity: 1;
        top: 0;
    }

    .work__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        opacity: 1;
        transition: all 300ms ease-out;
    }
    .work__projects.anim-out {
        opacity: 0.6;
        transform: scale(0.95) translateY(40px);
        
    }

    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 280px;
        height: 250px;
        margin: 2px;
        background-color: var(--color-light-white);
    }
    .project.invisible {
        display: none;
    }

    .project__img {
        max-width: 100%;
        max-height: 100%;
    }

    .project__description {
        position: absolute;
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 300ms ease-in;
    }
    .project:hover .project__description {
        opacity: 0.8;
    }

    .project__description h3 {
        color: var(--color-white);
    }
    .project__description h3::after {
        content: '';
        position: relative;
        left: 50%;
        width: 25px;
        height: 2px;
        background-color: var(--color-dark-white);
        margin-left: -12px;
        margin-top: 8px;
        display: block;
    }

    /* Contact */

    #contact {
        background-color: var(--color-blue);
    }

    .contact__title,
    .contact__email,
    .contact__rights {
        color: var(--color-white);
    }

    .contact__title {
        margin: 32px 0;
    }
    
    .contact__links {
        font-size: var(--font-large);
        margin: 24px 0;
        
        
    }
    .contact__links i{
        color: var(--color-black);
    }

    .contact__links i,
    .contact__links img {
        transition: all 300ms ease-in;
    }

    .contact__links i:hover,
    .contact__links img:hover{
        transform: scale(1.2);
        
    }

    .contact__links img {
        width: 45px;
        height: 35px;
    }
    /* Scroll */
    .arrow-up {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 70px;
        height: 70px;
        font-size: 50px;
        color: var(--color-white);
        background-color: var(--color-dark-blue);
        border-radius: 50%;
        opacity: 0;
        transition: all 300ms ease-in;
        pointer-events: none;
    }
    .arrow-up.visible {
        opacity: 1;
        pointer-events: auto;
    }

    
    @media screen and (max-width: 768px) {
        .navbar__toggle-btn {
            display: block;
        }
        #navbar {
            flex-direction: column;
            align-items: flex-start; 
        }
        .navbar__menu {
            flex-direction: column;
            align-items: center;
            width: 100%;
            display: none;
        }

        .about__majors {
            flex-direction: column;
        }
        .major {
            margin-bottom: 38px;
        }
        .skillset {
            flex-direction: column;
        }
        .project {
            /* 화면을 메꿔주는 역할 */
            flex-grow: 1;
        }
    } 
        
    